## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Rider
.idea/

## User-specific files
*.rsuser
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS
.DS_Store
Thumbs.db

## Environment
.env
appsettings.*.local.json
